.container {
    display: flex;
	flex: column;
    flex-wrap:wrap;
}
.ibg {
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
    max-height: 350px;
    flex: 0 0 25%;
    padding: 0 0 27% 0;
    transition: ease .3s;
}
.ibg:hover {
    transform: scale(1.055);
    transition: ease .6s;
    cursor: pointer;
}
@media (max-width: 550px) {
    .container{
        display: block;
    }
    .ibg{
        height: 200px;
    }
}