
 @font-face {
  font-family: "AcherusFeral";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("AcherusFeral"),
       /* Если не получилось, загрузит woff2 */
       url(./Horizon\ Type\ -\ AcherusFeral-Bold.otf) format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url(./Horizon\ Type\ -\ AcherusFeral-Bold.otf) format("woff");
}

/* Теперь можно использовать шрифт */
body {
  font-family: "AcherusFeral", "AcherusFeral", sans-serif !important;
}