.blog_foto{
    width: 100%;
    display: block;
}
@media (min-width: 2000px){
    .item {
        height: 1000px;
    }
    .blog_foto{
        margin-top: -250px;
    }
}
@media (max-width: 1999px) {
    .item {
        height: 750px;
    }
    .blog_foto{
        margin-top: -250px;
    }
}

@media (max-width: 1600px) {
    .item {
        max-height: 600px;
    }
    .blog_foto{
        margin-top: -200px;
    }
}

@media (max-width: 1300px) {
    .item {
       max-height: 500px;
    }
    .blog_foto{
        margin-top: 0;
    }
}
@media (max-width: 810px) {
    .item {
       max-height: 520px;
    }
}
@media (max-width: 675px) {
    .item {
       max-height: 450px;
    }
}
@media (max-width: 580px) {
    .item {
       max-height: 400px;
    }
}
@media (max-width: 520px) {
    .item {
       max-height: 440px;
    }
    .blog_foto{
        width: 160%;
    }
}
.wrapper {
    position: relative;
}

.text_viewer {
    z-index: 20;
    text-align: center;
    color: white;
}
.button_next {
    position: absolute;
    z-index: 20;
    bottom: 11%;
    left: 0;
    right: 0
    
}



